.title-wrapper {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.title-wrapper>p {
    margin-top: 24px;
}

.search-form {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.search-form__input {
    width: 700px;
    height: 80px;
    background: #FFFFFF;
    padding: 32px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.search-form__input::placeholder {
    font-size: calc(10px + 4*(100vw / 1920));

}
.search-form__button {
    position: absolute;
    width: 160px;
    height: 60px;
    right: 10px;
    top: 10px;
    background: #000000;
    border-radius: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
}

.search-form__button:hover {
    transform: scale(1.1);
}

.main-part__wrapper {
    margin-top: 90px;
    margin-bottom: 160px;
    display: flex;
    gap: 40px;
}

.blog-list {
    flex: 0 1 840px;
}

.tasty-recipe {
    flex: 0 1 400px;
}

.blog-list__item {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 24px;
}

.blog-item__body>p {
    margin-top: 16px;
    margin-bottom: 32px;
}

.blog-list__item>img {
    border-radius: 20px;
    max-width: 100%;
}

.blog-list__item>img:hover {
    transform: scale(1.1);
    box-shadow: 2px -2px 4px grey;
}

.author-block {
    display: flex;
    align-items: center;

}

.author-block__author {
    display: flex;
    align-items: center;
    gap: 16px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 24px;
}

.author-block__date {
    margin-left: 24px;
}

.performer-name {
    font-weight: 700;
    font-size: 16px;
    font-size: calc(12px + 4*(100vw / 1920));
}

.tasty-recipe>h4 {
    margin-bottom: 32px;
}

.tasty-recipe-block {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 84px;
}

.tasty-recipe-block__item {
    display: flex;
    gap: 24px;
    align-items: center;
    flex: 0 1 auto;
}

.tasty-recipe-block__item>img {
    border-radius: 16px;
    flex: 0 1 auto;
}

.tasty-recipe__text>h6 {
    margin-bottom: 16px;
}


/* ================================================================================================== */

@media screen and (max-width: 1200px) {
    .main-part__wrapper {
        flex-direction: column;
        margin-top: 7vw;
        margin-bottom: 10vw;
        gap: 5vw;
    }

    .tasty-recipe-block {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5vw;
    }

    .tasty-recipe-block__item {
        flex-direction: column;
        flex: 0 1 30%;
        align-items: center;
    }

    .tasty-recipe-block__item>img {
        max-width: 100%;
    }

}

@media screen and (max-width: 992px) {
    .title-wrapper {
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    .title-wrapper>p {
        margin-top: 3vw;
    }

    .blog-list__item {
        gap: 5vw;
        margin-bottom: 3vw;
    }

    .blog-item__body>p {
        margin-top: 2vw;
        margin-bottom: 3vw;
    }

    .author-block__author {
        gap: 2vw;
        padding-right: 3vw;
    }

    .author-block__date {
        margin-left: 3vw;
    }
}

@media screen and (max-width: 882px) {}

@media screen and (max-width: 767px) {
    .search-form__input {
        width: 80vw;
        padding: 3.5vw;
    }

    .blog-list__item {
        flex-direction: column;
        margin-bottom: 7vw;
        gap: 2.5vw;
        align-items: start;
    }

}

@media screen and (max-width: 576px) {
    .search-form__button {
        width: 100px;
    }
}

@media screen and (max-width: 444px) {
    .tasty-recipe-block {
        flex-direction: column;
        align-items: start;
        gap: 4vw;
    }

    .tasty-recipe-block__item {
        gap: 2.5vw;
        align-items: start;
    }
}

@media screen and (max-width: 320px) {
    .blog-list__item {
        margin-bottom: 9vw;
    }

    .search-form__input {
        padding: 2.5vw;
    }
}