.header {
    width: 100%;
    height: 110px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.header__container {
    display: flex;
    align-items: center;
    height: 110px;
    justify-content: space-between;
    position: relative;
}

.header__logo {
    cursor: pointer;
    z-index: 3;
    position: relative;
}

.header__menu {
    flex: 0 1 40%;
    z-index: 3;
    position: relative;
}

.header__social-list {
    display: flex;
    flex: 0 1 10.5%;
    justify-content: space-between;
    z-index: 3;
    position: relative;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

.menu__link {
    font-weight: 500;
    font-size: 16px;
    font-size: calc(12px + 4 * (100vw / 1920));
    line-height: 19px;
    letter-spacing: -0.02em;
    text-decoration: none;
	color: var(--main-color);
}

.menu__item .my-link {
    text-decoration: none;
}

/* ================================================================================= */

@media screen and (max-width: 1200px) {
    .header__menu {
        flex: 0 1 50%;
    }

    .header__social-list {
        flex: 0 1 15%;
    }
}

@media screen and (max-width: 992px) {
    .header {
        height: 80px;
    }

    .header__container {
        height: 80px;
    }
}

@media screen and (max-width: 882px) {
    
    .header__social-list {
        flex: 0 1 35%;
    }

    .header__menu {
        flex: 0 1 auto;
        overflow: auto;
        z-index: 1;
    }

    .header__menu .menu-list {
        flex-direction: column;
        gap: 3vw;
        align-items: center;
    }
    .header__menu .menu__link {
        color: aliceblue;
        font-size: calc(14px + 5 * (100vw / 1920));
    }
    
}
