.footer {
    height: 241px;
}

.footer__wrapper {
    height: 241px;
}

.footer__top {
    height: 122px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__info {
    font-weight: 400;
    font-size: 16px;
    font-size: calc(12px + 4*(100vw / 1920));
    line-height: 1.75;
    margin-top: 1em;
    opacity: .6;
}

.footer__menu {
    flex: 0 1 31.3%;
    margin-top: 1.75em;
}

.footer__bottom {
    height: 119px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 26.5%;
}

.copyright {
    max-width: 100%;
}

.footer__social-list {
    display: flex;
    flex: 0 1 10.5%;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

.menu__link {
    font-weight: 500;
    font-size: 16px;
    font-size: calc(12px + 4*(100vw / 1920));
    line-height: 19px;
    letter-spacing: -0.02em;
}


/* =========================================================================== */


@media screen and (max-width: 992px) {
    .footer {
        height: auto;
    }

    .footer__wrapper {
        height: auto;
        ;
    }

    .footer__menu {
        flex: 0 1 45%;
    }

    .footer__social-list {
        flex: 0 1 20%;
    }
}


@media screen and (max-width: 767px) {
    .footer__social-list {
        flex: 0 1 35%;
    }

    .footer__menu>.menu-list {
        flex-direction: column;
        row-gap: 10px;
    }

    .footer__top {
        height: auto;
        padding-bottom: 3vw;
    }

    .footer__menu {
        padding-left: 4vw;
        ;
    }

    .footer__bottom {
        height: auto;
        padding-top: 3vw;
        padding-bottom: 4vw;
    }

}

@media screen and (max-width: 576px) {
    .footer__info {
        line-height: 1.2;
        margin-top: 2vw;
    }

    .footer__bottom {
        gap: 15%;
    }

}

@media screen and (max-width: 444px) {
    .footer__social-list {
        flex: 0 1 40%;
    }

    .footer__menu>.menu-list {
        row-gap: 3vw;
    }
}

@media screen and (max-width: 320px) {
    .footer__social-list {
        column-gap: 5vw;
    }

    .footer__bottom {
        flex-direction: column-reverse;
        row-gap: 5vw;
    }

}